.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 20px;
}

.colapse{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes expandNav {
  from { width: 0px; padding-right: 0px; }
  to { width: 300px; padding-right: 40px; }
}

.openNav {

  animation: expandNav 0.3s forwards; /* forwards mantiene el estado final */
  overflow: hidden;
  background-color: black;
  overflow: hidden;  
  height: 100vh;
  box-sizing: border-box;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.colapse-button{
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 20px;

}

.colapse-button:focus{
  border: none;
  box-shadow: none;
}

.navbar-icon {
  font-size: 24px;
  color: white !important;
}

.navbar-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 40px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.button-icon {
  margin-right: 20px;
}

.button-camera {
  font-size: 55px;
}

.navbar-button:focus{
  border: none;
  box-shadow: none;
}

.navbar-href {
  text-decoration: none;
  color: inherit;
  width: 100%;
  text-align: left;
}