.score-label {

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.score-label:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.score {
    background: linear-gradient(90deg, #ff6200, #ff0000); /* degradado horizontal */
    -webkit-background-clip: text;  /* importante para aplicar al texto */
    background-clip: text; /* estándar para compatibilidad */
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    .logo {
        width: 40px;
        height: 40px;

    }

}